*{
    font-family: 'Poppins', sans-serif;
}

/* nav style */

header{
    background: #FFF;
    padding-top: 85px;
    padding-left: 120px;
    padding-right: 120px;
}
.nav-title{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
}

nav li{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 35px;
    list-style: none;
}

.header-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 15px;
}

.header-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}

.header-btn{
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.header-txt-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img{
    margin-top: 100px;
    margin-bottom: 90px;
}

/* main styles */
/* sponsor styles */
.divider{
    width: 1100px;
    height: 1px;
    background: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
    margin-right: 160px;
}

.sponsor-img{
    display:flex;
    justify-content: center;
    gap: 60px;
    padding: 30px;
    margin-left: 160px;
    margin-right: 160px;
}

.sponsor{
    align-items: center;
    margin: 0 auto;
}

/* feature styles */
.ft-title{
    color: #0A0826;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.ft-description{
    color: #6C6C6C;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ft-btn{
    background: #E02C6D;
    border: none;
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    margin-top: 175px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 100px;
    /* padding-left: 160px;
    padding-right: 160px; */
}

.ft-content{
    margin-top: 200px;
    margin-bottom: 120px;
}

.ft-img-container{
    align-items: center;
}


/* footer styles */

.footer-title{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3px;
}
.footer-copyright, .footer-end{
    color: #D9DBE1;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 3px;
}

.footer-icon{
    color: #D9DBE1;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.footer-content{
    text-align: center;
}

.footer{
    background-color: #0A0826;
    align-items: center;
    padding: 50px 600px;
}






